.hide {
    visibility: hidden;
}

.grad {
    background: linear-gradient(to bottom right, #434d61, #c3c8d2);
    /* bossbot: #49231d */
    /* bossbot: #816e69 */
    /*  lawbot: #434d61 */
    /*  lawbot: #c3c8d2 */
}

#difficulty-table {
    opacity: 0.8;
}

.greeting p {
    /* color: royalblue; */
    color: #ffc;
    background-color: #009;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: normal;
    padding: 0.4em;
    border-style: groove;
    border-radius: 10px;
}

#tier-list {
    float: left;
    background: #ddd;
}

#stuff {
    float: right;
    background: #eee;
}

#more-stuff {
    float: right;
    /* visibility: hidden; */
    /* display: none; */
    padding-right: 10px;
    background: #ddd;
}

#more-stuff p::before {
    content: "Wow!";
}

/* use this for lining things up: */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */
/* also maybe this?: for content in css */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/content */

#toggle-btn {
    display: block;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#cog-table {
    display: block;
    /* align-self: center; */
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    table-layout: fixed;
}

#cog-table-div {
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px;
    border-style: solid;
    padding: 5px 3px 5px 1px;
    border-color: #000;
}
#cog-table td {
    width: 180px;
    height: 70px;
}
#party-table td {
    width: 160px;
    height: 70px;
}

.inner-flex {
    display: flex;
    flex-direction: column;
}

.cog-item img {
    padding-left: 5px;
    padding-right: 5px;
    /* width: 25%; */
    /* display: flex; */
    /* flex-direction: row; */
}

.cog-item img {
    float: left;
    max-width: 60px;
    max-height: 60px;
}

.cog-item label {
    background: rgb(255, 255, 255, 0.3);
    /* text-shadow: white; */
    /* padding-left: 5px; */
}

#suit-average-label {
    background: rgb(255, 255, 255, 0.3);
}

